<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/footer.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/b3d6d01fa4.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <section class="footer_page">
        <div class="header__logo1">
            <a href="/" class="header__logo-link">
                <img src="../imgs/logo192.png" alt="Logo" class="header__logo-img1">
            </a>  
            <div class="footer_top">
                <div class="social">
                    <a href="https://www.facebook.com" class="social_logo">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a href="https://www.instagram.com" class="social_logo">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="https://www.twitter.com" class="social_logo">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a href="https://www.youtube.com" class="social_logo">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                  
                </div>
                <div class="subcribe">
                    <input class="sub_input" type="text" placeholder="Your email address">
                    <button type="button" class="sub_btn">Get started!</button>

                </div>     
            

            </div>
        </div>
        <div class="intro">
            <div class="support">
                <h3>Support</h3>
                <ul class="intro_list">
                    <li class="intro__nav-item">
                        <a href="index.html" class="intro__nav-link">Contact us</a>
                    </li>
                    <li class="intro__nav-item">
                        <a href="category.html" class="intro__nav-link">FAQ</a>
                    </li>
                    <li class="intro__nav-item">
                        <a href="product.html" class="intro__nav-link">Downloads</a>
                    </li>
                    <li class="intro__nav-item">
                        <a href="product.html" class="intro__nav-link">Locales</a>
                    </li>
                    <li class="intro__nav-item">
                        <a href="product.html" class="intro__nav-link">Product Registration</a>
                    </li>
                </ul>
            </div>
            <div class="support1">
                <h3>Happy Meal</h3>
                <ul class="intro_list">
                    <li class="intro__nav-item">
                        <a href="index.html" class="intro__nav-link">About us</a>
                    </li>
                    <li class="intro__nav-item">
                        <a href="category.html" class="intro__nav-link">Design</a>
                    </li>
                    <li class="intro__nav-item">
                        <a href="product.html" class="intro__nav-link">Careers</a>
                    </li>
                    <li class="intro__nav-item">
                        <a href="product.html" class="intro__nav-link">Access</a>
                    </li>
        
                </ul>
            </div>
                
        </div>
        

    </section>
    
    
</body>
</html>