<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/header.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script></script>
    
</head>
<body>
    <div class="header__bottom">
        <div class="header__logo">
            <h1 class="header__heading">
                <a href="/" class="header__logo-link">
                    <img src="../imgs/logo192.png" alt="Logo" class="header__logo-img">
                </a>
            </h1>
        </div>
                <div class="header__nav">
                    <ul class="header__nav-list">
                        <li class="header__nav-item">
                            <a href="/category" class="header__nav-link">Category</a>
                        </li>
                        <li class="header__nav-item">
                            <a href="/area" class="header__nav-link">Area</a>
                        </li>
                        <li class="header__nav-item">
                            <a href="/ingredient" class="header__nav-link">Ingredient</a>
                        </li>
                        <div class="space">
                            
                        </div>
                        <div class="header__search">
                            <form action="/search" method="GET">
                                <input type="text" name="search" class="header__search-input" placeholder="Ex: sushi">
                                <button class="header__search-btn">
                                <i class="material-icons">search</i>  
                            </button>
                            </form>
                        </div>
                    </ul>
                    
                </div>
                
                
    </div>
    <!--end header bottom -->

    <!-- header nav -->
    <div class="header__nav1">
         
                    <ul class="header__nav-list1">
                        <li class="header__nav-item">
                            <a href="/login" class="header__login">Log in</a>
                        </li>
                        <li class="header__nav-item">
                            <a href="/signup" class="header__signup">Sign up</a>
                        </li>
                        
                    </ul>
        
    </div>
</body>
</html>