<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="./css/chatBox.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <div class="chatbox-wrapper">
		<div class="chatbox-toggle">
			<i class='bx bx-message-dots'></i>
      <h4>CHAT</h4>
		</div>
		<div class="chatbox-message-wrapper">
			<div class="chatbox-message-header">
				<div class="chatbox-message-profile">
					<div>
            <h4 class="chatbox-message-name">HAPPY MEAL</h4>
					</div>
				</div>
				
			</div>
			<div class="chatbox-message-content">
				<h4 class="chatbox-message-no-message"></h4>
                <p class="chatbox-status"></p>
			</div>
			<div class="chatbox-message-bottom">
				<form action="#" class="chatbox-message-form">
					<textarea rows="1" placeholder="Type message..." class="chatbox-message-input"></textarea>
					<button type="submit" class="chatbox-message-submit"><i class='bx bx-send' ></i></button>
				</form>
                
			</div>
		</div>
	</div>
	
    
    
<script type="text/javascript" src="socket.io/socket.io.js"></script>
<script>
    var server = "http://localhost:3001";
    var io = io(server);
    // sending message from client
    io.emit("new_message", "New message");
    // server should listen from each client via it's socket
    io.on("new_message", function (data) {
        console.log("Client says", data);
});
</script>
</body>
<script src="js/chatBox.js"></script>
</html>