<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header') %>
    <title>HappyMeal</title>
    <link rel="stylesheet" type="text/css" href="/css/searchError.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap" rel="stylesheet">
</head>
<body>
    
    <% if (inputNull == false) { %>
    <h2> Search Results</h2>
    <% } %>
    <div class="img">
        <img src="imgs/notfound.png">
    </div>
    <div class="error">
        <% if (inputNull == true) { %>
            <a href="/"> Go To Hompage </a>
        <% } else { %>
            <p>Sorry we can't find any results for "<%= input %>"</p>
        <% } %>
    </div>
    

    
</body>
<footer><%- include('partials/footer') %></footer>
</html>