h2{
    margin-top: 40px;
    font-size: 4rem;
    text-align: center;
    font-family: "Source Serif 4", serif;
    font-weight: 800;
}
.re-num{
    margin-left: 70px ;
    margin-top: 30px;
    font-size: 1.8rem;
    color: #343434;
    font-weight: 700;
}

.search-result{
    margin-left: 70px ;
    margin-top: 50px;
    margin-bottom: 50px ;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 30px;
    align-items: center;
}

.result{
    width: 239px;
    height: 348px;
    margin-right: 40px;
}

.result img{
    width: 236px;
    height: 236px;
}
.result h3 {
    text-decoration: none;
    padding-top: 10px;
    margin-bottom: 5px;
    font-size: 2.3rem;
    font-weight: 700;
    font-family: "Source Serif 4", serif;
    color: #343434;
    cursor: pointer;
}
.result h3 a{
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    font-family: "Source Serif 4", serif;
    color: #343434;
    cursor: pointer;
}
.result .re-p {
    font-size: 1.2rem;
    color: #6d6d6d;
}

.result h4 a:hover{
    color: darkorange;
}
.pagination{
    text-align: center;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.pagination a{
    text-decoration: none;
    color: #343434;
    font-size: 2rem;
    font-weight: 600;
    padding: 8px 16px; 
    margin-right: 10px;
}
.pagination .page-num i {
    font-size: 2rem;
}
.pagination a:hover { 
    color: #97cc3b; 
} 
  
.pagination .active { 
    background-color: #97cc3b; 
    color: white; 
    border-radius: 50%;

} 